
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



.fontst{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  margin:5%;
  text-align: center;
  color:#fff;
}



/*
.ContactFrames{
    display:grid;
    grid-template-columns: 1fr 1fr ;
}

.icon1:hover{
   color:#1877F2;
}
.icon2:hover{
    color:#E4405F;
 }
 .icon3:hover{
    color:#EA4335;
 }
 .icon4:hover{
    color:#34B7F1;
 }
 */